.container {
	display: flex;
	align-items: center;
	gap: 10px;
	border-top: 1px solid var(--border-color);
	padding: 5px 0;

	&:first-child {
		border-top: none;
		padding-top: 0;
	}
}

.button {
	display: flex;
	cursor: pointer;
}

.icon {
	width: 30px;
	height: 30px;
	color: var(--main-color);
	flex-shrink: 0;

	&:hover {
		color: var(--main-color-darken);
	}
}

.name {
	font-size: var(--font-size-xs);
	font-weight: 500;
}