.header {
	display: flex;
	align-items: stretch;
	gap: 40px;
	border-bottom: 1px solid var(--border-color);
	background-color: var(--background-color);
	padding: 20px 40px;
}

.logo {
	border-right: 1px solid var(--border-color);
	padding-right: 40px;
}

.h1 {
	font-size: 32px;
	font-weight: 600;
	color: var(--text-color);
	text-decoration: none;
}