.container {
	display: flex;
	flex-direction: column;
	width: 200px;
	border-radius: var(--border-radius);
	background-color: var(--background-color-block);
	overflow: hidden;

	&_selected {
		box-shadow: var(--box-shadow-lg);
	}
}

.image {
	position: relative;
	width: 100%;
	aspect-ratio: 1 / 1;
	border-radius: var(--border-radius);
	overflow: hidden;
	cursor: pointer;

	&:hover::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0,0,0,.3);
	}
}

.picture {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50px;
	height: 50px;
	color: var(--text-color);
	opacity: 0;
}

.image:hover .icon {
	opacity: 1;
}

.title {
	font-size: var(--font-size);
	font-weight: 600;
	text-align: center;
}

.content {
	padding: 20px;
}

.tracks_header {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
	padding-top: 10px;
	cursor: pointer;

	&_title {
		font-size: var(--font-size-xs);
		font-weight: 400;
		color: var(--text-color-muted);
	}

	&_icon {
		display: flex;
		color: var(--text-color-muted);
		width: 10px;
		height: 10px;
		flex-shrink: 0;
	}

	&:hover &_title,
	&:hover &_icon {
		color: var(--text-color);
	}
}

.tracks_container:global(.is-open) .tracks_header_icon {
	transform: rotate(180deg);
}

.tracks {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	max-height: 400px;
	overflow: auto;
}