:root {
  --background-color: #fff;
  --text-color: #222;
  --padding-block: 40px;
  --border-radius: 20px;
  --font-size: 16px;
  --font-size-lg: 18px;
  --border-color: #e5e5e5;
  --main-color: #3358dc;
  --main-color-darken: #183dc4;
}