:root {
  --background-color: #0e1929;
  --background-color-block: #162034;
  --background-color-track: #3c4758;
  --track-color: #017eff;
  --text-color: #fff;
  --text-color-secound: #b2beca;
  --text-color-muted: #6e798a;
  --border-radius: 10px;
  --font-size: 16px;
  --font-size-xs: 12px;
  --border-color: #333e4f;
  --border-color-active: #3a5998;
  --main-color: #1f67b0;
  --main-color-darken: #194f85;
  --red-color: #b01f1f;
  --red-color-darken: #851919;
  --box-shadow: 0 0 20px #3a5998;
  --box-shadow-lg: 0 0 40px #3a5998;
}