.h1 {
	font-size: 48px;
	text-align: center;
}

.playlist {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
	gap: 40px;
}

.player {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	height: 80px;
	border-top: 1px solid var(--border-color);
	background-color: var(--background-color);
}

.button {
	display: flex;
	border: 1px solid var(--border-color);
	border-radius: var(--border-radius);
	padding: 10px;
	background-color: var(--background-color-block);
	color: inherit;
	font: inherit;
	outline: inherit;
	cursor: pointer;

	&_active {
		box-shadow: var(--box-shadow);
		border-color: var(--border-color-active);
		color: var(--main-color);
	}

	&:hover {
		color: #fff;
		background-color: rgba(0,0,0,.1);
	}

	&:active {
		background-color: rgba(0,0,0,.3);
	}
}

.icon {
	width: 30px;
	height: 30px;
}

.track {
	display: flex;
	align-items: center;
	gap: 20px;
	width: 600px;

	&_image {
		width: 50px;
		height: 50px;
		object-fit: cover;
		border-radius: var(--border-radius);
	}

	&_info {
		display: flex;
		flex-direction: column;
		gap: 5px;
		width: 100%;
	}

	&_title {
		font-weight: 600;
	}

	&_progress {
		display: flex;
		flex-direction: column;
		gap: 2px;
	}

	&_time {
		display: flex;
		justify-content: space-between;
		font-size: var(--font-size-xs);
		font-weight: 400;
		color: var(--text-color-muted);
	}
}

.range {
	width: 100%;
	height: 10px;
	margin: 5px 0;
	appearance: none;
	background: transparent;
	cursor: pointer;

	&::-webkit-slider-runnable-track {
		background: var(--background-color-track);
		height: 100%;
		border-radius: 2px;
	}

	&::-moz-range-track {
		background: var(--background-color-track);
		height: 100%;
		border-radius: 2px;
	}

	&::-webkit-slider-thumb {
		appearance: none;
		margin-top: -2px;
		background-color: var(--track-color);
		height: calc(100% + 4px);
		width: 20px;
		border-radius: 2px;
	}

	&::-moz-range-thumb {
		appearance: none;
		margin-top: -5px;
		background-color: var(--main-color);
		height: 14px;
		width: 14px;
		border-radius: 50%;
	}
}

.volume {
	display: flex;
	align-items: center;
	gap: 10px;

	&_icon {
		width: 25px;
		height: 25px;
		color: var(--text-color-secound);
	}
}